body {
  padding: 40px;
  font-family: 'Audiowide';font-size: 22px;
  background-color: rgb(224, 219, 219);
}

 #comment-section {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: white;
  background-color:  black;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header {
  display: block;
}

body > nav {
  grid-area: nav;
  background-color: black;
  border-style: solid;
  border-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
}

#dodge-talk{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: rgb(214, 57, 57);
}

#comment-add:hover{
background-color: black;
color: red;
box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover{
  color: red;
}


a {
  color: #00B7FF;
}
