<%- include('../partials/header') %>

<% cars.comment.forEach(function(c, idx) { %>
<form action="/cars/<%= cars.id %>/<%= idx %>?_method=PUT" method="POST"> 
    <div class="container">
    <label>Comments:</label>
    <textarea class="form-control" name="content"></textarea>
    </div>
    <div class="container">
      <label>Car Model:
      <select class="form-control" value="Select Vehicle" name="model">
          <option value="Challenger">Challenger</option>
          <option value="Charger">Charger</option>
          <option value="Durango">Durango</option>
          <option value="Journey">Journey</option>
          <option value="Grand-Caravan">Grand-Caravan</option>
          <option value="Ram-1500">Ram-1500</option>
          </select>
      </label>
      </div>
      <div class="container">
      <label>Model Year: 
      <input class="form-control" type="number" value="2000" name="year" min="2000" max="2021">
      </label>
      </div>
      <div class="container">
      <label>Car Color:
          <select class="form-control" value="Select Vehicle" name="color">
              <option value="Knuckle-White">Knuckle-White</option>
              <option value="Destroyer-Grey">Destroyer-Grey</option>
              <option value="Hellraisin-Purple">Hellraisin-Purple</option>
              <option value="F8-Green">F8-Green</option>
              <option value="Pitch-Black">Pitch-Black</option>
              <option value="Octane-Red">Octane-Red</option>
              </select>
          </label>
          </div>
          <div class="container">
      <label>Title Condition:
          <select class="form-control" name="titleCondition">
              <option value="Clean">Clean</option>
              <option value="Salvage">Salvage</option>
              <option value="Rebuilt">Rebuilt</option>
          </select>
      </label>
      </div>
    <button class="form-control" type="submit">UPDATE</button>
  </form>
  <% }); %>
  <%- include('../partials/footer') %>