<%- include('../partials/header') %>

<form id="new-form" action="/cars" method="POST">
<label>Car Model:
<select value="Select Vehicle" name="model">
    <option value="Challenger">Challenger</option>
    <option value="Charger">Charger</option>
    <option value="Durango">Durango</option>
    <option value="Journey">Journey</option>
    <option value="Grand Caravan">Grand Caravan</option>
    <option value="Ram 1500">Ram 1500</option>
    </select>
</label>
<br/>
<label>Model Year: 
<input type="number" value="2000" name="year" min="2000" max="2021">
</label>
<br/>
<label>Car Color:
    <select value="Select Vehicle" name="color">
        <option value="Knuckle White">Knuckle White</option>
        <option value="Destroyer Grey">Destroyer Grey</option>
        <option value="Hellraisin Purple">Hellraisin Purple</option>
        <option value="F8 Green">F8 Green</option>
        <option value="Pitch Black">Pitch Black</option>
        <option value="Octane Red">Octane Red</option>
        </select>
    </label>
<br/>
<label>Title Condition:
    <select name="titleCondition">
        <option value="Clean">Clean</option>
        <option value="Salvage">Salvage</option>
        <option value="Rebuilt">Rebuilt</option>
    </select>
</label>
<br/>

<br/>
<button type="submit" value="Add Comment">Add Comment</button>
</form>

<%- include('../partials/footer') %>
